.main-banner .swiper {
  width: 100%;
  height: 100%;
}

.main-banner .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner {
  width: 100%;
  height: max-content;
  display: block;
}
